<div class="container">
    {{#each news}}
    <div class="article">
        <h3>
            <a href="{{link}}">{{title}}</a>
        </h3>
        <p>{{description}}</p>
        <button class="save" data-id="{{_id}}" data-saved="{{isSaved}}">Save</button>
        <button class="delete" data-id="{{_id}}"><i class="fas fa-times"></i></button>
    </div>
    {{/each}}
</div>