<h3>
    <a href="{{link}}">{{title}}</a>
</h3>
<p>{{description}}</p>
<button class="note" data-id="{{_id}}" data-saved="{{isSaved}}" data-title="{{title}}" data-open="modal">Add
    Note</button>
<button class="view-note" data-id="{{_id}}" data-saved="{{isSaved}}" data-title="{{title}}" data-open="note-modal">View
    Notes</button>